<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/auth.css" />
    <title>Auth</title>
  </head>
  <body>
    <div class="auth-container">
      <div class="forms-content">
        <form class="form">
          <h1 class="title">Connexion</h1>
          <div class="form-goup">
            <input class="input" type="email" placeholder="Email" />
          </div>
          <div class="form-goup">
            <input class="input" type="password" placeholder="Mot de passe" />
          </div>
          <button class="auth-btn">se connecter</button>
        </form>

        <form class="form-dark">
          <h1 class="title-dark">Connexion</h1>
          <div class="form-goup">
            <input class="input" type="email" placeholder="Email" />
          </div>
          <div class="form-goup">
            <input class="input" type="password" placeholder="Mot de passe" />
          </div>
          <button class="auth-btn-dark">se connecter</button>
        </form>
      </div>
    </div>
  </body>
</html>
