<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input kit</title>
    <link rel="stylesheet" href="../css/input.css">
</head>
<body>
    <h1>Déclinaisons de Boutons</h1>
    <div class="button-container">
        <!-- Déclinaison 1 -->
        <a href="#" class="business-revenue-button button-variant-1">
            <div class="icon-container">
                <img src="../assets/Icon piece.svg" alt="Icône">
            </div>
            <div class="text-container">
                <p class="revenue-amount">51€</p>
                <p class="revenue-description">Chiffre d'affaire du jour <strong>(Espèces)</strong></p>
            </div>
        </a>
        <a href="#" class="business-revenue-button button-variant-2">
            <div class="icon-container">
                <img src="../assets/Icon piece.svg" alt="Icône">
            </div>
            <div class="text-container">
                <p class="revenue-amount">102€</p>
                <p class="revenue-description">Chiffre d'affaire du jour <strong>(CB)</strong></p>
            </div>
        </a>

        <a href="#" class="business-revenue-button button-variant-3">
            <div class="icon-container">
                <img src="../assets/Icon piece.svg" alt="Icône">
            </div>
            <div class="text-container">
                <p class="revenue-amount">153€</p>
                <p class="revenue-description">Chiffre d'affaire du jour <strong>(Chèques)</strong></p>
            </div>
        </a>
    </div>
</body>
</html>