<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enventory</title>
    <link rel="stylesheet" href="../css/inventory.css">
</head>
<body>
    <div class="inventory-card">
        <div class="icon-container">
            <img src="../assets/inventory icon.svg" alt="Icône d'inventaire">
        </div>
        <div class="text-container">
            <span class="inventory-amount">6034</span>
            <span class="inventory-description">Inventaire</span>
        </div>
        <div class="badge-container">
            <span class="inventory-badge">Articles</span>
        </div>
    </div>
    
    <div class="inventory-card-1">
        <div class="icon-container-1">
            <img src="../assets/inventory icon.svg" alt="Icône d'inventaire">
        </div>
        <div class="text-container-1">
            <span class="inventory-amount-1">6034</span>
            <span class="inventory-description-1">Inventaire</span>
        </div>
        <div class="badge-container-1">
            <span class="inventory-badge-1">Articles</span>
        </div>
    </div>
    
    <div class="inventory-card-2">
        <div class="icon-container-2">
            <img src="../assets/inventory icon.svg" alt="Icône d'inventaire">
        </div>
        <div class="text-container-2">
            <span class="inventory-amount-2">6034</span>
            <span class="inventory-description-2">Inventaire</span>
        </div>
        <div class="badge-container-2">
            <span class="inventory-badge-2">Articles</span>
        </div>
    </div>
    
    <div class="inventory-card-3">
        <div class="icon-container-3">
            <img src="../assets/inventory icon.svg" alt="Icône d'inventaire">
        </div>
        <div class="text-container-3">
            <span class="inventory-amount-3">6034</span>
            <span class="inventory-description-3">Inventaire</span>
        </div>
        <div class="badge-container-3">
            <span class="inventory-badge-3">Articles</span>
        </div>
    </div>
    
    
</body>
</html>