<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/navbar.css">
    <title>UI kit</title>
</head>
<body>
    <div class="container">
        <h1>Navbar</h1>
        <div class="navbarsContainer">
            <div class="navbar">
              <div class="logo"><img src="./public/images/vector.svg"></div>
              <div class="nav-items">
                <div class="nav-item">
                      <div class="nav-icon"><img src="./public/images/question.svg"></div>
                </div>
                <div class="nav-item-badge">
                      <div class="nav-icon"> <img src="./public/images/bell.svg"></div>
                      <div class="user-notification-badge">
                        <div class="text">9</div>
                      </div>
                </div>
                <div class="nav-user-section">
                    <img class="user-avatar" src="./public/images/user-avatar.png" />
                    <div class="user-name">À nouveau vêtu</div>
                    <div class="user-options">
                      <div class="nav-icon"> <img src="./public/images/caret-down.svg"> </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="navbar navbar-pink">
                <div class="logo"><img src="./public/images/vector.svg"></div>
                <div class="nav-items">
                  <div class="nav-item">
                        <div class="nav-icon"><img src="./public/images/question.svg"></div>
                  </div>
                  <div class="nav-item-badge">
                        <div class="nav-icon"> <img src="./public/images/bell.svg"></div>
                        <div class="user-notification-badge">
                            <div class="text">9</div>
                        </div>
                  </div>
                  <div class="nav-user-section">
                      <img class="user-avatar" src="./public/images/user-avatar.png" />
                      <div class="user-name">À nouveau vêtu</div>
                      <div class="user-options">
                        <div class="nav-icon"> <img src="./public/images/caret-down.svg"> </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="navbar navbar-light-blue">
                <div class="logo"><img src="./public/images/vector.svg"></div>
                <div class="nav-items">
                  <div class="nav-item">
                        <div class="nav-icon"><img src="./public/images/question.svg"></div>
                  </div>
                  <div class="nav-item-badge">
                        <div class="nav-icon"> <img src="./public/images/bell.svg"></div>
                        <div class="user-notification-badge">
                            <div class="text">9</div>
                          </div>
                    </div>
                  
                  <div class="nav-user-section">
                      <img class="user-avatar" src="./public/images/user-avatar.png" />
                      <div class="user-name">À nouveau vêtu</div>
                      <div class="user-options">
                        <div class="nav-icon"> <img src="./public/images/caret-down.svg"> </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</body>
</html>