<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Composant - Slot</title>
    <link rel="stylesheet" href="../css/slot.css" />
  </head>
  <body>
    <section class="section_one">
      <p>Informations</p>
      <p>Fonctionnement du DV</p>
      <p>Le contrat</p>
      <p>Préférences</p>
    </section>

    <section class="section_two">
      <p>Informations</p>
      <p>Fonctionnement du DV</p>
      <p>Le contrat</p>
      <p>Préférences</p>
    </section>

    <section class="section_three">
      <p>Informations</p>
      <p>Fonctionnement du DV</p>
      <p>Le contrat</p>
      <p>Préférences</p>
    </section>
  </body>
</html>
