<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sort</title>
    <link rel="stylesheet" href="../css/sort.css">
</head>
<body>
    <div class="custom-select">
        <select>
            <option value="etat1">Trier par état</option>
            <option value="etat2">État 2</option>
            <option value="etat3">État 3</option>
        </select>
        
    </div>

    <div class="custom-select custom-select-bleu">
        <select>
            <option value="etat1">Trier par état</option>
            <option value="etat2">État 2</option>
            <option value="etat3">État 3</option>
        </select>
    </div>
    
    <div class="custom-select custom-select-rouge">
        <select>
            <option value="etat1">Trier par état</option>
            <option value="etat2">État 2</option>
            <option value="etat3">État 3</option>
        </select>
    </div>
    
    <div class="custom-select custom-select-beige">
        <select>
            <option value="etat1">Trier par état</option>
            <option value="etat2">État 2</option>
            <option value="etat3">État 3</option>
        </select>
    </div>
    
    
    
</body>
</html>